.dashboard {

  padding-top: pxtorem(50px);

  .table-title{
    color: rgb(72,87,108);
    font-size: 0.9em;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 1em;
  }


  .card{
    background: white;
    position: relative;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    padding: 1.5em 1em 1em 1em;

    .card-title{
      font-size: 1.1em;
      font-weight: 600;
    }
  }
}

.dashboard-tabs-list .tabs-title
{
  width: 50%;
  text-align: center;
}

.signed-contract-request,
.unsigned-contract-request
{
  background-size: 20px;
  padding-left: 30px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: left center;
}
.signed-contract-request
{
  background-image: asset_url("dashboard/stack.svg");
  [aria-selected="true"] &
  {
    background-image: asset_url("dashboard/stack-active.svg");
  }
}
.unsigned-contract-request
{
  background-image: asset_url("dashboard/save.svg");
  [aria-selected="true"] &
  {
    background-image: asset_url("dashboard/save-active.svg");
  }
}
.no-policy-title
{
  font-size: pxtorem(32px);
  margin-top: 20px;
}
.no-policy-description
{
  font-size: pxtorem(14px);
}
