.my-contract-request{

  .card{
    background: white;
    position: relative;
    margin-bottom: 2em;
    padding: 1.5em 1em 1em 1em;
    @extend .shadow;
  }
}
.missing_documents
{
  .fa-warning
  {
    margin-right: pxtorem(10px);
  }
}
.success .fa-check
{
  margin-right: pxtorem(10px);
}
.sending-document-title
{
  color: #212121;
  font-weight: bold;
  font-size: 16px;
}
@media #{$medium-up}
{
  .border-right-separator
  {
    border-right: 1px solid #ccc;
  }
}
