.no-offer-container{
  padding: 20px;
  text-align: center;
  .no-offer-img{
    padding: 20px 0;
  }
  .no-offer-title{
    font-size: 2rem;
    margin-top:20px;
  }
  .no-offer-description{
    font-size: 0.875rem;
  }
}