footer
{
  background: #282F41;
  color: white;
}
.copyright
{
  color: #49546A;
  font-size: 12px;
}
.footer-blog-from
{
  font-size: 10px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 5px;
}
.footer-blog-title
{
  font-size: 16px;
  color: $primary-color;
}
.footer-blog-summary
{
  font-size: 12px;
  margin: 0;
}
.blog-summary-block
{
  padding: 20px;
  margin-top: 15px;
}
.blog-summary-block:first-child
{
  border-right: 1px solid #313C4E;
}
.blog-summary
{
  border-bottom: 1px solid #313C4E;
  margin-bottom: 100px;
}
.footer-link-list li
{
  margin-right: 20px;
}
.footer-link-list a
{
  color: $light-marine;
  font-size: 14px;
  &:hover{
    color: $white;
  }
}
.blog-arrow
{
  padding-left: 20px;
  color: $primary-color;
  font-weight: 300;
}

.footer-tagline{
  font-size: 1.2rem;
  margin: 20px 0;
}

.landing-footer{
  padding: 20px 0;
}
.footer-menu{
  padding: 20px 0;
  .footer-list{
    padding-left: 10px;
  }
  .footer-list_item a{
    color: $white;
  }

}
.footer-menu_title{
  font-size: 1.1rem;
  font-weight:600;
}