.lead_container{
  height: 500px;
  padding-top: 50px;
  background: asset_url('backgrounds/hero_homepage') center bottom no-repeat #fff;
  background-size: contain;
  .lead{
    text-align: center;
    font-size: 36px;
  }
  &.small{
    height: 200px;
  }
}