.datepicker td span.active,
.datepicker td.active.day,
.datepicker td.active.year
{
  background: $primary-color;
  color: white;
}
.datepicker.dropdown-menu
{
  border: none;
  padding: 0;
  @extend .shadow;
}
